<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>

 <link rel="stylesheet" href="/css/success.css">
</head>

<body>

<div class="success-wrapper">
    <div class="success-card">
        <div class="checkmark">✔</div>

        <h1>Payment Successful</h1>
        <p>Your order has been placed successfully.</p>

        <div class="actions">
            <a href="/" class="btn home">🏠 Go Home</a>
            <a href="/orders" class="btn orders">📦 View Orders</a>
        </div>
    </div>
</div>

</body>
</html>